@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <h1>OverView</h1>
    <p>StudentManagementSystem is an ASP.NET Core MVC application designed to manage Student and thier Courses . It provides a comprehensive suite of CRUD operations, allowing users to create, read, update, and delete information about stores and items. </p>
</div>
